* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:"poppins", sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}

h1 {
    font-size: 2rem;
    margin-left: 60px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #0e3959;
    color: white;
    padding: 14px 0;
    position: sticky;
    top: 0;
    z-index: 5000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #ffca25;
}

#home {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
position: absolute;
    top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.home-content {
    position: relative;
    z-index: 3;
    max-width: 800px;
    text-align: center;
}

.home-content h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 75px;
    color: #ffffff;
text-align: center;
}

.home-content p {
    font-size: 0.8rem;
    margin-bottom:
            34px;
    color:white;
    text-align: center;
}

.container ul {
margin-right: 75px;
}

.home-content .btn {
    background-color: #ffca28;
    color: #0e3959;
    padding: 7px 14px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ;
    align-items: center;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

section .container{
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
}

#destination {
    padding:10px 0;
    background-color: #f5f5f5;
    text-align: center;
}

#destination h2 {
    font-size: 2.3rem;
    margin-bottom: 40px;
    color: darkslategrey;
    text-decoration: underline;
}

.destinations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 21px;
    justify-content: center;
}

.destinations-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destinations-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.destinations-card h5 {
    font-size: 1rem;
    padding: 07px ;
    color: #333333;
    background-color: #ffffff;
    font-weight: 600;
}

.destinations-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#packages{
    padding: 80px 0;
    text-align: center;
    background-color: white;
}

#packages h2 {
    font-size: 2.2rem;
    margin-bottom: 40px;
    color: black;
    text-decoration: underline;
}
.packages-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 21px;
    justify-content: center;
}

.packages {
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.package img {
    width: 100%;
    height: 250%;
    object-fit: cover;
}

.packages h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #0e3959;
}

.packages p {
    font-size: 1rem;
    color: #333333;
    padding: 10px 10px;
}

.packages:hover {
    transform: translateY(-7px);
}
.packages button {
    background: #0e3959;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 20px;
    margin-bottom: 17px;
    transition: background .3s ease, transform 0.3s ease, box-shadow 0.3s ease ;
}

.packages button:hover {
    background: #ffca25;
    transform: scale(1);
    color: #0e3959;
}

#testimonials {
    padding: 80px 0;
}

#testimonials h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0e3959;
    text-decoration: underline;
    text-align: center;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 21px;
}

.testimonial {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.testimonial i {
    color: #ffca28;
    margin-bottom: 12px;
}

.testimonial p {
    font-style: italic;
    margin-bottom: 10px;
}

.testimonial h4 {
    color: #0e3959;
    margin-top: 10px;
}

#booking {
    padding: 60px 0;
    background: #fdfdfd;
}
#booking h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #0e3959;
}
#booking p {
    text-align: center;
    margin-bottom: 20px;
}
form {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form button {
    background: #0e3959;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background: #ffca28;
    color: #0e3959;
}
footer iframe {
    width: 100%;
    border: none;
    height: 300px;
}